@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #d4af37;
    --secondary: #6a1b9a;
    --light: #f5f5f5;
    --dark: #333;
    --success: #28a745;
    --error: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f9f9f9;
    color: var(--dark);
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, var(--secondary), var(--primary));
    color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo img {
    position: absolute;
    left: -45px;
    width: 70px;
    filter: invert();
    transform: rotate(180deg);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    cursor: pointer;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

.nav-links li:hover {
    transform: translateY(-2px);
}

.nav-links a,
.nav-links span {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: var(--light);
}

.nav-links a.admin i {
    margin-right: 4px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem;
}

.section-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--secondary);
}

/* All Appointments */
.status-tags {
    display: flex;
    align-items: center;
    gap: 25px;
}

.status-tags .status {
    font-size: 16px;
    cursor: pointer;
}

.status-tags .status.selected {
    border-bottom: 3px solid var(--secondary);
}

.appointments {
    margin-top: 30px;
}

.appointment {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.id-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #666;
}

.booking-date {
    display: flex;
    align-items: center;
    gap: 10px;
}

.booking-date h5 span {
    text-transform: uppercase;
}

.booking-date h5.cancelled-on {
    color: var(--error);
}

.complete-btn {
    margin-left: 10px;
    background-color: var(--success);
    border: 1px solid green;
    color: var(--light);
    padding: 6px 8px;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow:  0 5px 15px rgba(246, 0, 0, 0.1);
}

.complete-btn:hover {
    transform: translateY(-2px);
}

.appointment-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.appointment-details h3 {
    color: var(--secondary);
}

.appointment-details h4 {
    color: var(--primary);
    font-weight: 800;
}

.appointment-details h5:first-of-type,
.appointment-details h5:first-of-type span {
    color: var(--primary);
}

.appointment-details h5 span {
    color: #666;
}

/* Users */
#all-users {
    display: none;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.users-table thead tr {
    border-radius: 8px;
    background-color: var(--secondary);
    color: var(--light);
}

.users-table th,
.users-table td {
    padding: 10px 0;
    text-align: center;
}